@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f7a80f;
}

h2 {
    font-size: 2.5em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    font-family: "Jua", sans-serif;
    padding: 10px 20px;
    background-color: white;
    color: #f7a80f;
    border: 2px solid #f7a80f;
    cursor: pointer;
}

button:hover {
    background-color: #f7a80f;
}
