{% extends "layout.html" %} {% block content %}
<div class="error-body">
  <div class="header">
    <a
      style="text-decoration: none; color: #f7a80f"
      href="{{ request.url_root }}"
    >
      <h1>FUREVER HOME</h1>
    </a>
    <img
      src="{{ url_for('static', filename='pawprint.png') }}"
      alt="Pawprint"
      class="img-title"
    />
    <div class="nav-links">
      <a href="{{ url_for('favorites_page') }}">MY FAVORITES</a>
      <a href="{{ url_for('logout') }}">LOG OUT</a>
    </div>
  </div>
  <div class="error-div {{ 'post-details' if error == 'pet' else '' }}">
    <div>
      <h1>4</h1>
      <img src="/static/pawprint.png" alt="Pawprint" style="height: 120px" />
      <h1>4</h1>
    </div>
    <p>{{ error_message}}</p>
  </div>
</div>
{% endblock content %}
