{% extends "layout.html" %} {% block content %}
<div class="pet-body">
  <div class="header">
    <a
      style="text-decoration: none; color: #f7a80f"
      href="{{ request.url_root }}"
    >
      <h1>FUREVER HOME</h1>
    </a>
    <img
      src="{{ url_for('static', filename='pawprint.png') }}"
      alt="Pawprint"
      class="img-title"
    />
  </div>
  <h2 class="favorites-hdr">MY FAVORITES</h2>
  <div class="posts box">
    {% if favorites %} {% for pet_id, pet_details in favorites.items() %}
    <div class="post-favorites">
      <img
        src="{{ pet_details.photo }}"
        alt="Dog Image"
        srcset="{{ pet_details.photo }} 1x, {{ pet_details.large_photo }} 2x"
      />
      <!-- ^^^ trouble with getting pictures -->
      <p>Name: {{ pet_details.name }}</p>
      <p>Primary Breed: {{ pet_details.primary_breed }}</p>
      <p>Secondary Breed: {{ pet_details.secondary_breed }}</p>
      <p>Gender: {{ pet_details.sex }}</p>
      <p>Age: {{ pet_details.age }}</p>
      <div>
        <a
          href="{{ url_for('post_details', pet_id=pet_details.pet_id) }}"
          class="details-button"
          >Details</a
        >
        <button
          class="remove-button"
          onclick="removeFavorite('{{ pet_details.pet_id }}')"
        >
          Remove
        </button>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No favorites yet.</p>
    {% endif %}
  </div>
  <script>
    function removeFavorite(petId) {
      fetch("/remove_favorite", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ pet_id: petId }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            document.getElementById("post-" + petId).remove();
          } else {
            alert("Failed to remove favorite.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("Error removing favorite.");
        });
    }
  </script>
</div>
{% endblock content %}
