<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furever Home</title>
    <link rel="icon" type="image/x-icon" href="static/pawprint.png">
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body class="body">
    <div class="title-container">
        <img src="static/pawprint.png" alt="Dog house" class="title-image">
        <img src="static/dog-house.png" alt="Dog house" class="title-image">
        <h2>FUREVER HOME</h2>
        <img src="static/bone.png" alt="Bone" class="title-image">
        <img src="static/bone-rotate.png" alt="Dog house" class="title-image">
    </div>
    <form id="inputForm">
        <label for="question1">Where are you located?</label>
        <input type="text" id="question1" name="question1" placeholder="Enter your Postal Code" required>

        <label for="question2">How far (in miles) are you willing to travel to retrieve your pet?</label>
        <input type="text" id="question2" name="question2" placeholder="Enter a number" required>

        <label for="question3">Do you have the ability to care for a specially-abled pet?</label>
        <input type="text" id="question3" name="question3" placeholder="Yes or No" required>

        <label for="question4">Do you have preference in gender?</label>
        <input type="text" id="question4" name="question4" placeholder="Any, Male, or Female" required>

        <label for="question5">Do you live in an apartment or house?</label>
        <input type="text" id="question5" name="question5" placeholder="Apartment or House" required>

        <label for="question6">Do you have any allergies?</label>
        <input type="text" id="question6" name="question6" placeholder="Yes or No" required>

        <label for="question7">What level of activity can you manage?</label>
        <input type="text" id="question7" name="question7" placeholder="Low, Moderate, High" required>

        <label for="question8">How much attention could you provide your pet with?</label>
        <input type="text" id="question8" name="question8" placeholder="Low, Moderate, High" required>
        
        <button type="submit">Find Your Pet</button>
    </form>

    <script src="static/form.js">
    </script>
</body>
</html>
