{% extends "layout.html" %}
{% block content %}
<div class="post-body">
    <div class="header">
        <a style="text-decoration: none; color: #f7a80f;" href="{{ request.url_root }}proxy/5000/" >
            <h1>FUREVER HOME</h1>
        </a>
        <img src="static/pawprint.png" alt="Pawprint" class="img-title">
    </div>
    <div class="post-details box">
        <img src="{{ post.images[0].thumbnail_url }}" alt="Dog Image">
        <p>Name: {{ post.pet_name }}</p>
        <p>Size: {{ post.size }}</p>
        <p>Sex: {{ post.sex }}</p>
        <p>Age: {{ post.age }}</p>
        <p>Location: {{ post.addr_city }}, {{ post.addr_state_code }}</p>
        <p>Primary Breed: {{ post.primary_breed }}</p>
        <p>Secondary Breed: {{ post.secondary_breed }}</p>
        <p>Special Needs: {{ post.special_needs }}</p>
        <p>Act Quickly: {{ post.act_quickly }}</p>
        <a href="{{post.pet_details_url}}" class="details-button">Details</a>
    </div>
</div>
{% endblock content %}
